.main-header .logo {
  background-color: aliceblue;
   }
 .skin-blue .main-header .navbar {
     background-color: #B7292F;
 }
 .img-fluid-mini{
  
     max-width: 100%;
     max-height: 100%;
     border-radius: 360px;
     border: solid #FFB606;
     
 }
 .img-fluid{
  margin-top: 1.3em;
   max-width: 80%;
   max-height: 80%;
 
   
 }
 .img-fluid-lg-user{
  
   max-width: 25%;
   max-height: 25%;
   border-radius: 360px;
   border: solid #FFB606;
 }
 .img-fluid-minilogo{
     max-width: 25px;
     max-height: 25px;
     border-radius: 360px;
     border: solid #FFB606;
    
   
 }
 .logo-mini{
   margin-top: 20px;
 
 }
 .main-header > .navbar {
 
     border-radius: 0% 0% 25px 25px;
   }
   .main-header .logo {
     box-shadow: #000;
     height: 100px;
     
     }
     .sider-margin{
       margin-top: 4em;
     }
     header{
 
 background-color: #ecf0f5;
     }
     




  

    @media (max-width: 868px) {
      .main-header .logo {
        box-shadow: #000;
        height: 50px;
        
        }
        .img-fluid{
          margin-top: 0.3em;
  
          max-width: 50%;
          max-height: 50%;
        
          
        }
        .margin-md{
          margin-top: 3%;
        }
        .sider-margin{
          margin-top: 2em;
        }
     
    }
    